* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.welcome-message {
    background: purple;
    color: white;
    text-align: center;
    padding: 15px;
    border: solid #333 1px;
    border-radius: 5px;
}

.welcome-message h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

nav {
    background: #333;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo img {
    width: 70px;
    height: auto;
    max-height: 80px;
    border: solid black 1px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease;
}

nav a:hover {
    color: #8fad23;
}

section {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    flex-grow: 1;
}


.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fafafa;
}

.contact-info p {
    margin: 10px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
nav .logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease;
}

nav a:hover {
    color: #8fad23;
}

section {
    padding: 15px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fafafa;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    z-index: 1000;
}
}

/* @media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 15px;
    }

    .item {
        text-align: center;
    }
} */